#header{
  background: url(../img/backgrounds/h_img.jpg);
  text-align: center;
  background-size: cover;
  color: white;
}
#header p{
  font-size: 10px;
}

#about{
  text-align: center;
}
#services{
  background: url(../img/backgrounds/s_image.jpg);
  text-align: center;
  background-size: cover;
  color: white;
}
