#header{
  background: url(../img/backgrounds/h_img.jpg);
  text-align: center;
  background-size: cover;
  color: white;
  padding-top:  120px;
}
#header p{
  font-size: 10px;
}

#about{
  text-align: center;
  padding: 50px;
}
#services{
  background: url(../img/backgrounds/s_image.jpg);
  text-align: center;
  background-size: cover;
  color: white;
  padding: 120px;
}

#whatWeDo{
  text-align: center;
}

#portfolio{
  text-align: center;
  font-size: 20px;
}

#portfolio img{
  object-fit:contain;
  width: 300px;
  height:300px;
  border:10px solid white;
}

#contact for {
  background: url(../img/backgrounds/c_image.jpg);
  color: white;
}
#contact h3{
  text-align: center;
}
#design p{
  display:none;
}

#development p{
  display:none;
}
#product p{
  display:none;
}
.work1, .work2, .work3, .work4, .work5, .work6, .work7, .work8 {
  display: none;
  background-color: white;
  opacity:.8;
  font-size: 15px;
  color: black;
  position: absolute;
  top: 20%
  left: 20%;
  right: 20%;
  bottom: 20%;
}
#work1, #work2, #work3, #work4, #work5, #work6, #work7, #work8 {
    position: relative;
}
#mce-FNAME{
  background: transparent;
  color: white;

}
#mce-EMAIL{
  background: transparent;
  color: white;
}
#mce-MMERGE2{
  background: transparent;
  color: white;
}
#socials{
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#delani{
  text-align: center;
}

#form-padding{
  padding-top:40px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
}
#form-padding button{
  object-position: center;
}
 /*@media only screen and (max-width: 600px) {
   body {
     width: 100%;
     font-size: 30px;
   }*/
#contact{
  background: url(../img/backgrounds/c_image.jpg);
  color: white;
  background-size: cover;
}
