#header{
  background: url(../img/backgrounds/h_img.jpg);
  text-align: center;
  background-size: cover;
  color: white;
}
#header p{
  font-size: 10px;
}

#about{
  text-align: center;
}
#services{
  background: url(../img/backgrounds/s_image.jpg);
  text-align: center;
  background-size: cover;
  color: white;
}

#whatWeDo{
  text-align: center;
}

#portfolio{
  text-align: center;
  font-size: 20px;
}

#portfolio img{
  object-fit:contain;
  width: 300px;
  height:300px;
  border:10px solid white;
}
#contact {
  background: url(../img/backgrounds/c_image.jpg);
  color: white;
}
#contact for {
  background: url(../img/backgrounds/c_image.jpg);
  color: white;
}
#contact h3{
  text-align: center;
}
#design p{
  display:none;
}

#development p{
  display:none;
}
#product p{
  display:none;
}

#work1{
    position: relative;
}
.caption1{
    color: black;
    position: absolute;
    left: 38%;
    top: 45%;
    border: 6px solid white;
}
.hide {
    display: none;
}

#work2{
    position: relative;
}
.caption2{
    color: black;
    position: absolute;
    left: 38%;
    top: 45%;
    border: 6px solid white;
}
#work3{
    position: relative;
}
.caption3{
    color: black;
    position: absolute;
    left: 38%;
    top: 45%;
    border: 6px solid white;
}

#work4{
    position: relative;
}
.caption4{
    color: black;
    position: absolute;
    left: 38%;
    top: 45%;
    border: 6px solid white;
}

#work5{
    position: relative;
}
.caption5{
    color: black;
    position: absolute;
    left: 38%;
    top: 45%;
    border: 6px solid white;
}

#work6{
    position: relative;
}
.caption6{
    color: black;
    position: absolute;
    left: 38%;
    top: 45%;
    border: 6px solid white;
}
#work7{
    position: relative;
}
.caption7{
    color: black;
    position: absolute;
    left: 38%;
    top: 45%;
    border: 6px solid white;
}

#work8{
    position: relative;
}
.caption8{
    color: black;
    position: absolute;
    left: 30%;
    top: 45%;
    border: 6px solid white;
}
